openapi: 3.0.3

info:
  title: Logistics Platform API
  description: |
    API for a B2B SaaS platform built around decoupled asset classes,
    programmable trust, and event-driven payment eligibility.

    **Core design principles:**
    - Immutable event log — scan events are never updated or deleted
    - Hard-fail validation — geofence violations are rejected, never silently accepted
    - Idempotency by default — all write endpoints are retry-safe

    **Payment model:** Payment eligibility is computed from verifiable scan events
    — not from manual approval. This is the programmable trust model of the platform.
  version: 1.0.0

servers:
  - url: https://api.platform.io/v1
    description: Production

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        API key scoped by role.
        - operator: scan event write only
        - supervisor: scan events + eligibility read
        - admin: full access

  schemas:

    ScanEventRequest:
      type: object
      required:
        - handling_unit_id
        - event_type_code
        - occurred_at_utc
        - zone_id
        - lat
        - lng
        - user_id
        - idempotency_key
      properties:
        handling_unit_id:
          type: integer
          example: 1042
        event_type_code:
          type: string
          description: Must exist in SCAN_EVENT_TYPES reference table.
          example: PickedUpAtOrigin
        occurred_at_utc:
          type: string
          format: date-time
          example: "2026-04-13T14:30:00Z"
        zone_id:
          type: integer
          example: 7
        lat:
          type: number
          format: float
          description: |
            Operator GPS latitude. Validated against zone geofence
            using Haversine formula. Rejected with 422 if outside radius.
          example: 29.7601
        lng:
          type: number
          format: float
          example: -95.3701
        user_id:
          type: integer
          example: 88
        idempotency_key:
          type: string
          description: |
            Unique key to make retries safe. Recommended format:
            {handling_unit_id}-{event_type_code}-{occurred_at_utc}
            Composite key preferred over UUID for offline device compatibility.
          example: "hu-1042-PickedUpAtOrigin-20260413T143000Z"

    ScanEventResponse:
      type: object
      properties:
        scan_event_id:
          type: integer
          example: 5509
        handling_unit_id:
          type: integer
          example: 1042
        event_type_code:
          type: string
          example: PickedUpAtOrigin
        occurred_at_utc:
          type: string
          format: date-time
          example: "2026-04-13T14:30:00Z"
        zone_id:
          type: integer
          example: 7
        status:
          type: string
          enum: [recorded, already_recorded]
          example: recorded
        handling_unit_status:
          type: string
          enum: [CREATED, READY, IN_TRANSIT, STAGED, ARRIVED, DELIVERED, EXCEPTION]
          example: IN_TRANSIT
        materialized:
          type: boolean
          description: |
            True if this was the first scan event on this handling unit.
            First scan triggers materialization — the unit transitions
            from a paper record to a physically verified entity.
          example: true

    CapacityToken:
      type: object
      properties:
        id:
          type: string
          example: ct_abc123
        context_type:
          type: string
          enum: [MOVING, STATIONARY]
          example: STATIONARY
        zone_name:
          type: string
          description: Zone name is always visible on the blind board.
          example: Houston South Terminal
        zip5:
          type: string
          example: "77002"
        address:
          type: string
          nullable: true
          description: |
            Always null until a transaction is confirmed.
            Supplier address is withheld to protect confidentiality
            during the discovery phase.
          example: null
        qty_available:
          type: integer
          description: Pool capacity remaining. Not seat-assigned.
          example: 14
        price_cents:
          type: integer
          description: Price in cents to avoid floating point precision issues.
          example: 4500
        currency:
          type: string
          example: USD
        available_from:
          type: string
          format: date-time
          example: "2026-04-15T00:00:00Z"
        available_to:
          type: string
          format: date-time
          example: "2026-04-22T00:00:00Z"
        status:
          type: string
          enum: [AVAILABLE, RESERVED, MATERIALIZED, RELEASED]
          example: AVAILABLE

    EligibilityResponse:
      type: object
      properties:
        group_id:
          type: integer
          example: 204
        group_status:
          type: string
          enum: [SCHEDULED, IN_PROGRESS, COMPLETED, PARTIALLY_COMPLETED, DELAYED, BLOCKED, INCOMPLETE]
          example: COMPLETED
        eligible:
          type: boolean
          description: |
            Computed projection — not a stored value. Derived in real time
            from the scan event log. Always consistent with actual event records.
          example: true
        units:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                example: 1042
              status:
                type: string
                enum: [CREATED, READY, IN_TRANSIT, STAGED, ARRIVED, DELIVERED, EXCEPTION]
                example: DELIVERED
              payment_trigger_event:
                type: string
                nullable: true
                example: PickedUpByConsignee
        blocking_conditions:
          type: array
          description: Empty when eligible. Lists every condition blocking payment when not eligible.
          items:
            type: object
            properties:
              unit_id:
                type: integer
                example: 1046
              reason:
                type: string
                enum: [OPEN_EXCEPTION, MISSING_DELIVERY_SCAN, INCOMPLETE_GROUP]
                example: OPEN_EXCEPTION
              message:
                type: string
                example: "Unit 1046 has an unresolved exception. Payment is held until resolved or written off."

    ErrorResponse:
      type: object
      properties:
        error_code:
          type: string
          example: OUTSIDE_GEOFENCE
        message:
          type: string
          example: Scan location falls outside the permitted zone boundary

    GeofenceErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            submitted_lat:
              type: number
              example: 29.7601
            submitted_lng:
              type: number
              example: -95.3701
            zone_center_lat:
              type: number
              example: 29.9501
            zone_center_lng:
              type: number
              example: -95.3698
            distance_m:
              type: number
              example: 2140
            allowed_radius_m:
              type: number
              example: 200

paths:

  /scan-events:
    post:
      summary: Record a scan event
      description: |
        Records a verified physical presence event for a handling unit.

        **6-step pipeline (all steps must pass or request is rejected):**
        1. Authenticate API key
        2. Validate event_type_code exists in SCAN_EVENT_TYPES
        3. Validate handling_unit_id exists in HANDLING_UNITS
        4. Geofence validation — GPS must fall within zone radius (Haversine formula)
        5. Idempotency check — reject if duplicate (handling_unit_id + event_type_code + occurred_at_utc)
        6. Insert row + update status + trigger materialization if first scan

        **Geofence runs before idempotency.** You cannot retry past a location failure.
      operationId: createScanEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanEventRequest'
      responses:
        '201':
          description: Scan event recorded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanEventResponse'
        '200':
          description: Idempotent retry — original response returned, no new record created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanEventResponse'
        '400':
          description: Missing required field
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Valid key but insufficient scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: handling_unit_id or zone_id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: event_type_code not in SCAN_EVENT_TYPES reference table
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: GPS coordinates outside zone geofence boundary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeofenceErrorResponse'
        '500':
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /capacity-tokens:
    get:
      summary: List available capacity tokens
      description: |
        Returns available capacity tokens for the open blind board.

        **Blind board rule:** zone name and ZIP are always returned.
        Physical address is always null until a transaction is confirmed.
        Enforced at the API response layer — not just the UI.
      operationId: listCapacityTokens
      parameters:
        - name: zip5
          in: query
          required: true
          schema:
            type: string
          example: "77002"
        - name: context_type
          in: query
          required: true
          schema:
            type: string
            enum: [MOVING, STATIONARY]
        - name: available_from
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: available_to
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Available capacity tokens
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CapacityToken'
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: string
                      has_more:
                        type: boolean
                      total_count:
                        type: integer
        '400':
          description: Missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No available tokens match the query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /handling-unit-groups/{id}/eligibility:
    get:
      summary: Check payment eligibility for a handling unit group
      description: |
        Computes payment eligibility in real time from the scan event log.
        Never cached or stored — always consistent with actual event records.

        **A group is eligible when ALL are true:**
        - All units have status DELIVERED or EXCEPTION (written off)
        - No unit has an open unresolved EXCEPTION
        - At least one payment trigger scan event exists

        A single open exception blocks the entire group's payment finalization.
      operationId: getGroupEligibility
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 204
      responses:
        '200':
          description: Eligibility computed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EligibilityResponse'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Caller org does not have access to this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
